.text-concat {
  position: relative;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em; /* (Number of lines you want visible) * (line-height) */
  line-height: 1.2em;
  text-align: justify;
}

.text.ellipsis::after {
  content: "...";
  position: absolute;
  right: -12px;
  bottom: 4px;
}

.board-card {
  min-height: 25vh;
  max-height: 25vh;
  overflow: hidden;
}

.board-card-title{
    margin-top: 10px; 
    
}
